{% extends 'rango/base.html' %}

{% block title %}Add Page{% block %}

{% block body_block %}
    <h1>Add a page</h1>
    {% if category_name_url %}
    <form id="page_form" action="{% url 'rango:add_page' category_name_url %}" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}

        <input type="submit" name="submit" value="Create a Page">
    </form>
    {% endif %}
{% endblock %}
