{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block body_block %}
    <img src="{% static 'rango.jpg' %}" alt="rango" />
    {% if user.is_authenticated %}
    <h1>Rango says... hello {{ user.username }}</h1>
    {% else %}
    <h1>Rango says... hello world!</h1>
    {% endif %}

    {% if categories %}
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'rango:category' category.url %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}

    {% if user.is_authenticated %}
    <a href="{% url 'rango:add_category' %}">Add a new Category</a>
    {% endif %}

    {% if top_pages %}
    <h3>Top Viewed Pages</h3>
        <ul>
        {% for page in top_pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
