<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Login to Rango</h1>

        <form id="login_form" action="{% url 'login' %}" method="post">
            {% csrf_token %}

            {% if error %}
            {{ error }}<br>
            {% endif %}

            Username: <input type="text" name="username" value="" size="50">
            <br>
            Password: <input type="password" name="password" value="" size="50">
            <br>

            <input type="submit" value="Login">
        </form>
    </body>
</html>
